@import '_mixins.scss';
@import '_variables.scss';

//--------------------------------------------------------------------------
//styles from focus-components
@import 'focus-components/style/index.scss';
@import 'material-design-icons-iconfont/dist/material-design-icons.scss';

//--------------------------------------------------------------------------
//styles from demo

.snail{

    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
    td {
        border: 1px solid black;
        padding:10px;

    }
}